<!DOCTYPE html>
<html>
  <head>

  </head>
<body>
  <div id="nav"><p id="left">Atchaya</p>
  <p id="right"><i class="icon icon-java-1" id="white"></i> &nbsp; Java Full stack developer</p>
  </div>
  <div id="content">
   <label>SKILLS KNOWN</label>
 
   <table>
    <tr>
      <td><i class="icon icon-angular"></i></td>
      <td><i class="icon icon-sb"></i></td>
      <td><i class="icon icon-java-1"></i></td>
      <td><i class="icon icon-html5"></i></td>
      <td><i class="icon icon-css3_css_file_development_icon"></i></td>

     
    
    </tr>
    <tr>
      <td>Angular 13</td>
      <td>Springboot</td>
      <td>Microservices</td>
      <td>HTML</td>
      <td>CSS</td>
    </tr>
   </table>
  </div>
</body>
</html>